/dist
/lib
/webapp
/webapp.asar
/packages
/deploys
node_modules/
/pkg/control
/.hak
/.yarnrc
/docker
/.npmrc
.vscode
.vscode/
/test_artifacts/
/coverage/
yarn-error.log
/hak/**/*.js
/scripts/hak/**/*.js
.DS_Store
/playwright-report
.pnpm-store

# secrets
*.p8
*.p12
*.mobileprovision
*.keystore
*.jks
.env
.env.*
!.env.example
desktop.env
/private_keys/

# build logs from scripts
/build/*.log
